*.class

*.jar
*.war
*.ear
**/*.iml

/.idea
.idea
/tmp
tmp
/target
target
*.out

/classes/
.metadata
.project
/**/.classpath
/.classpath
/.settings
/**.settings


/.settings/
.settings
.jsdtscope

**/src/main/webapp/WEB-INF/classes/

