@media all {

    /*
       background for div, which is behind the menubar => same background as menubar
    */
    #mainnav {

        border-bottom: 1px solid white;
    }

    .ui-menubar, .ui-menu-child, .ui-menu {
        background: #dadada !important;
        height: 32px;
    }

}